// Tip: Use the "Theme Builder" on Quasar's documentation website.
$btn-action-bgcolor: #F22539;
$btn-action-font-color: #FFFFFF;
$btn-action-pressed: #C00E20;
$btn-action-disabled: #BFBFBF;

$btn-list-bgColor: #FFFFFF;
$btn-list-font-normal: #353535;

$bgColorApp: #F9F9F9;

$star-color-active: #ECA539;
$star-color-inactive: #BFBFBF;
$btn-star-bgcolor:#F5F5F5;

$font-primary: #353535;
$font-secondary: #5E5E5E;
